{
  "type": "postgres",
  "host": "localhost",
  "port": "5432",
  "username": "postgres",
  "password": "docker",
  "database": "qar",
  "entities": ["./src/modules/**/infra/typeorm/entities/*.ts"],
  "migrations": ["./packages/server/src/shared/infra/typeorm/migrations/*.ts"],
  "cli": {
    "migrationsDir": "./packages/server/src/shared/infra/typeorm/migrations"
  }
}
